export("intreg")

S3method( "coef", "intreg" )
S3method( "coef", "summary.intreg" )
S3method( "fitted", "intreg" )
S3method( "linearPredictors", "intreg" )
S3method( "model.frame", "intreg" )
S3method( "model.matrix", "intreg" )
S3method( "nObs", "intreg" )
S3method( "print", "coef.intreg" )
S3method( "print", "intreg" )
S3method( "print", "summary.intreg" )
S3method( "residuals", "intreg" )
S3method( "summary", "intreg" )
S3method( "vcov", "intreg" )
