export("intReg")

import("maxLik")
importFrom( "miscTools", "coefTable" )
importFrom( "miscTools", "nObs" )
importFrom( "miscTools", "nParam" )
importFrom( "miscTools", "stdEr" )

S3method( "coef", "intReg" )
S3method( "model.frame", "intReg" )
S3method( "model.matrix", "intReg" )
S3method( "nObs", "intReg" )
S3method("print", "coef.intReg")
S3method( "print", "intReg" )
S3method( "print", "summary.intReg" )
S3method( "summary", "intReg" )
S3method( "vcov", "intReg" )
